/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0ab5f8;
    color: #010108;
}

/* En-tête */
header {
    background-color: #007bff;
    color: rgb(240, 22, 94);
    padding: 1rem;
    text-align: center;

    bottom: 0;

    top: 0; /* Positionnement à zéro du haut */

   

}

header h1 {
    margin: 0;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 1rem 0;
}

nav ul li {
    display: inline;
    margin-right: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: rgb(3, 14, 1);
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Contenu principal */
main {
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pied de page */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
